.App {
  text-align: center;
}


.search-field {
  border-radius: 50px 0 0 50px !important;
  border-color: transparent !important;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2) !important;
  background-color: #3a3f47;
  height: 100%;
  width: 90%;
}

.search-btn {
  border-radius: 0 50px 50px 0 !important;
  height: 100%;
  width: 13%;
  background-color: #3a3f47;
  color: white;
  border: 0;
}
.search-container{
 
  box-sizing: border-box;
  display:flex;
}
.search-container {
    border-radius: 20px;
    border: 0px;
    height: 40px;
    width: 50%;
    margin: 35px auto;
}

input:focus-visible {
  outline: none;
}

input:focus-visible form{
  border: 1px solid;
}


input[type="search"]::-webkit-search-cancel-button {
 
  background-color: red;
  color: white !important;
  font-weight: bold;
 
}

input[type="search"] {
  color: #ddd;
  font-size: 18px;
      padding: 15px;
}